.ssh
dot_ssh
dot_vim/.netrwhist
dot_vim/backup/*~
dot_vim/tmp/*.swp
dot_vim/tmp/*.swo
dot_ipython/history
dot_ipython/profile_default/history.sqlite
dot_ipython/db
dot_ipython/IPython_crash_report.txt
config/fish/fish_history
config/fish/fishd.*
vim/bundle
*.pyc
